.modal-wrapper {
    position: relative;
    top: 20;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 0;
  }
  
  .modal {
    background-color: var(--color-white-fixed);
    width: 350px;
    padding: 30px;
    border-radius: 8px;
    position: absolute;
    bottom: 10%;
    left: 70%;
    z-index: 2;
  background-color: var(--blue-1);
  border-radius: 8px;
  }
  
  .divAvisos {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .titulo {
    font-weight: 600;
font-size: 16px;
line-height: 19px;

color: var(--color-white-fixed);}


.descricao {
  font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
color:  var(--color-white-fixed);}


  
  
  @keyframes animateModal {
    0% {
      transform: translateY(-50%);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
 